<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <button id="botao">
            <h3>Logar</h3>
        </button>

    </div>

    <script type="module" src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js"></script>
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js'
        import { getAuth , signInWithPopup , GoogleAuthProvider } from 'https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js';


        import firebaseConfig from './env.js';

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        // Initialize Firebase Authentication and get a reference to the service
        const auth = getAuth(app);
        const provider = new GoogleAuthProvider();


        document.getElementById("botao").addEventListener("click", teste)

        function teste() {
            signInWithPopup(auth, provider)
                .then((result) => {
                    console.log(result);
                    const credential = GoogleAuthProvider.credentialFromResult(result);
                    const token = credential.accessToken;
                    const user = result.user;

                    alert("Olá " + result.user.displayName)
            }).catch((error) => {
                console.log(error);
                const errorCode = error.code;
                const errorMessage = error.message;
                const email = error.customData.email;
                const credential = GoogleAuthProvider.credentialFromError(error);
            });
        }
    </script>
</body>

</html>